<?xml version="1.0" encoding="utf-8"?>
<!-- 
# choco list -localonly
# Chocolatey v0.10.15
# 
# choco install choco-packages.config -y
-->
<packages>
    <!-- <package id="7zip" /> -->
    <!-- <package id="AdoptOpenJDKjre" />-->
    <!-- <package id="chocolatey-core.extension" /> -->
    <!-- <package id="chocolatey" /> -->
    <!-- <package id="javaruntime" /> -->
    <!-- <package id="nodejs" /> -->
    <package id="7zip.install" />
    <package id="awscli" />
    <package id="azcopy" />
    <package id="azure-cli" />
    <package id="dotnet-sdk" />
    <package id="dotnet" />
    <package id="drawio" />
    <package id="emacs" />
    <package id="ffmpeg" />
    <package id="git.install" />
    <package id="graphviz" />
    <package id="jq" />
    <package id="keepass" />
    <package id="mpv.install" />
    <package id="nodejs.install" />
    <package id="paint.net" />
    <package id="powertoys" />
    <package id="plantuml" />
    <package id="windirstat" />
    <package id="winmerge" />
    <package id="wireshark" />
</packages>